
/* #region Defaiult Resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  max-width: 100vw !important;
}

body {
  margin: auto;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
}

main {
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  border: 2px solid red;
}



/* #endregion Default Resets */

/* #region  Navbar */

header {
    position: relative;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  }
  
  .logo_tablet {
    position: absolute;
    background-color: yellow;
    top: 0;
    left: 0;
    height: 52px;
  }
  
  .logo_tablet img {
    height: 77px;
    width: 120px;
  }
  
  .logo_mobile {
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
  }
  
  .logo_mobile img {
    width: 63px;
    height: 37px;
  }
   
  a {
    text-decoration: none;
  }
  
  .red {
    background-color: red;
    position: fixed;
    margin-bottom: 100px;
  }

  .lemon {
    background-color: yellow;
    margin-top: 100px;
  }

  .green {
    background-color: green;
    margin-bottom: 100px;
  }

  .square {
    border: 2px solid blue;
    width: 1000px;
    height: 75px;
  }

  /*
  .black {
    display: flex;
    flex-direction: row;
    height: 32px;
    background-color: #011;
    font-size: 14px;
  }
  
  .black_left {
    background-color: #011;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 65%;
  }
  
  .black_center {
    width: 250px;;
  }
  
  .black_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #011;
    width: 35%;
    text-align: center;
    align-items: center;
  }
  
  .black_left a,
  .black_right a {
    color: white;
    margin-left: 20px;
  }
  
  .white {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    height: 48px;
    font-size: 16px;
  }

  .white a {
    margin-left: -16px;
  }
  
  .awb {
    color: black;
  }
  
  .yellow {
    background-color: yellow;
    font-size: 16px;
    height: 30px;
    padding-left: 36px;
  }
  */
  /* #endregion Navbar */
  .o_three_images {
    display: grid;
    font-weight: 700;
    grid-template-columns: minmax(0%, 70%) minmax(0%, 30%);
    grid-template-rows: minmax(0%, 50%) minmax(0%, 50%);
    column-gap: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: sans-serif;
    color: #fff;
    padding: 3px;
    max-width: 100%;
}
 
  .m_three_images_one {
  padding: 4px;
    position: relative;
    width: 100%;
    height: 630px;
    background-image: url(Assets/Assets/m_three_images\ three_im.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 
 .cover_one {
  position: absolute;
  padding: 1em;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.7;
  background-image: linear-gradient(to right bottom, rgb(247, 88, 88) 18%, transparent, rgb(10, 10, 10) 90%);
}
 .a_three_images_logo {
  background-image: url(Assets/Assets/tnw.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 65%;
  height: 36%;
  max-height: 131px;
  line-height: 1;
  z-index: 10;
}

  .m_latest_news_grid,
  .m_middlebox_large_flex_wrap,
  .o_latest_deals {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      box-sizing: border-box;
      gap: 20px;
  }
   .o_large_cards {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-auto-rows: auto;
       box-sizing: border-box;
       gap: 20px;
   }


  /* #endregion Three Images */


/* #region  Latest News */

/* #endregion Latest News */

  /* #region  Footer */

footer {
  max-width: 100%;
  color: whitesmoke;
  text-align: center;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}
 
 .social_icons {
   padding: 12px;
}
 
 .social_icons i:hover {
   background-color: #141414;
}

 .foot_menu {
  padding: 12px;
}
 
 a {
  text-decoration: none;
  color: whitesmoke;
}

 .footer_top {
   background-color: #0f0f0f;
   margin: 0 auto;
   padding: 20px 0;
   height: 155px;
   line-height: 2.5em;
}
 
 .social,
 .menu_bottom {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 20px;
}

 .social_icons > i {
   background: #333;
   border-radius: 50%;
   display: block;
   height: 35px;
   padding: 10px;
   text-align: center;
   width: 35px;
   cursor: pointer;
   border: 1px solid #011;
}

 .footer_bottom {
   padding: 48px;
   background: #000;
   color: #aaa;
   font-size: 20px;
   text-align: center;
}

.image_svg {
  width: 58px;
  height: 21px;
}

 b {
   color: rgb(163, 36, 36);
}
 
 
/* #endregion  Footer */

/* #region  Media Queries */

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }

  .logo_tablet {
    display: none;
    visibility: hidden;
  }

  .logo_mobile {
    display: none;
    visibility: hidden;
  }

  .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }

  .logo_mobile {
    visibility: hidden;
  }

  .black,
  .white {
    padding-left: 130px;
  }

  .black_right,
  .awb-1 {
    display: none;
  }

  .white {
    font-size: 14px;
  }

  .menu {
    visibility: hidden;
  }

  .fbo-date {
    display: none;
  }

  .article_content_1 {
    line-height: 1;
  }

  .ac_1 {
    font-family: var(--main-font-family);
    font-size: 19px;
    color: #ffffff;
    width: 25vh;
  }

  .m_latest_news_grid,
  .m_middlebox_large_flex_wrap,
  .o_latest_deals {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
 }
 .m_middlebox_cards_container_four  {
     display: none;
 }
 .o_large_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

  .a_latest_news > img {
    width: 213px;
  }

  .middle_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu_bottom {
    font-size: 13px;
  }

  .footer_bottom {
    font-size: 16px;
  }

}


@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }

  .logo_tablet {
    display: none;
  }

  .logo_mobile {
    visibility: visible;
    top: 0;
  }
  
  .black,
  .awb {
    display: none;
  }

  .white {
    justify-content: space-evenly;
    height: 40px;
  }

  .menu {
    visibility: visible;
    color: red;
  }

  .yellow > a {
    font-size: 10px;
  }
  
  .three_im {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b";
  }

  .first_big_three {
    display: none;
  }

  .ac_1 {
    font-family: var(--main-font-family);
    font-size: 20px;
    color: #ffffff;
  }

  .m_latest_news_grid,
  .m_middlebox_large_flex_wrap,
  .o_latest_deals,
  .o_large_cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
 }

  .social_icons {
   padding: 4px;
  }

   .rss {
     display: none;
 }

   .foot_menu {
     font-size: 13px;
     font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
     padding: 7px;
 }
   
 .image_svg {
  width: 28px;
  height: 17px;
 }
}



/* #endregion Media Queries */

/*  #region three image */
.cover-story {
  float: left;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 100%;
  height: 700px;
}
.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}
.cover-image, .cover-trigger {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}
.lazy {
  transition: .4s ease;
  opacity: 0;
  will-change: opacity;
}
.lazy,
.lazyLoaded {
  opacity: 1;
}


.cover-trigger {
  transition: background-color .4s ease;
  background: rgba(0,0,0,.25) url() no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}
.cover {
  color: #fff;
}

.cover-gradient {
  background: transparent url(Assets/Assets/tnw.svg) no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 4px;
  left: 4px;
  mix-blend-mode: lighten;
  pointer-events: none;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 4;
  max-width: 20%;
  height: 20%;
  max-height: 52px;
}
.cover-logo {
  background: transparent url() no-repeat;
  background-size: contain;
  left: 24px;
  max-width: 20%;
  height: 20%;
  max-height: 52px;
  line-height: 1;
  top: 24px;
  pointer-events: none;
  text-align: right;
}
.cover-header {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 3;
}

.cover h5 {
font-family: Shentox,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
}
.cover h2 {
  margin-bottom: .25em;
  font-size: 56px;
  line-height: 1;
}
/* #endregion three image */